<footer id="footer" class="full-width padding">
  <div class="container">
    <div class="row">
      <ul class="pull-left social-nav">
        <li><a class="icon-facebook-circled" href="#"></a></li>
        <li><a class="icon-twitter-circled" href="#"></a></li>
        <li><a class="icon-instagram-circled" href="#"></a></li>
      </ul>
      <ul class="pull-right footer-nav">
        <li><a href="#">Terms</a></li>
        <li><a href="#">Policy</a></li>
        <li><a href="#">Support</a></li>
      </ul>
     
    </div><!--/row-->
  </div>
</footer>