
.icon-facebook-circled:before { content: '\e800'; } /* '' */
.icon-twitter-circled:before { content: '\e801'; } /* '' */
.icon-instagram-circled:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */