// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}


.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}


.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}




/* ==========================================================================
   Helper Classes
   ========================================================================== */



.centered { text-align: center; margin: 0 auto; float: none;}

.full-width {
  width: 100%;
  float: left;
}

@include small{
  .container-padding {
    padding: 0 5%;
  }
}
.vcentered {
  position: relative;
  top: 50%;
  @include transform(translate(0,-50%));
}
@include medium {
  .vcentered-sm {
    position: relative;
    top: 50%;
    @include transform(translate(0,-50%));
  }
}

.no-padding {
  padding: 0;
}

.hidden { display: none; }

.img-responsive.max { width: 100%;}

.flex {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
/* ==========================================================================
   Layout
   ========================================================================== */

.row {
  @include xs-max {
    margin: 0;
  }
}
@include small {
  .break-sm {
    display: block;
  }
}
@include xs {
  .break {display: block; }
  }